<div class="actions">
  <ng-container *ngIf="auth.isTokenValid; else logoutButton">
    <a class="button b-orange"
       type="button"
       (click)="logout()"
    >
      logout
    </a>
  </ng-container>
  <ng-template #logoutButton>
    <a class="button b-green"
       type="button"
       (click)="login()"
    >
      login as Bruno
    </a>
  </ng-template>

  <a class="button b-green"
     type="button"
     (click)="getProducts()"
  >
    get all products
  </a>

  <a class="button b-green"
     type="button"
     (click)="postProduct()"
  >
    post product
  </a>
</div>

<router-outlet></router-outlet>
