@import 'variables';

.button:after {
  background: $background-color;
}

.ctn {
  display: block;
  margin: auto;
  text-align: center;
}

.b-green, .b-green:before {
  background: rgba(73, 155, 234, 1);
  background: linear-gradient(45deg, rgba(73, 155, 234, 1) 0%, rgba(26, 188, 156, 1) 100%);
}

.b-pink, .b-pink:before {
  background: rgba(231, 72, 234, 1);
  background: linear-gradient(45deg, rgba(231, 72, 234, 1) 0%, rgba(75, 26, 188, 1) 100%);
}

.b-red, .b-red:before {
  background: rgba(234, 110, 72, 1);
  background: linear-gradient(45deg, rgba(234, 110, 72, 1) 0%, rgba(188, 26, 99, 1) 100%);
}

.b-orange, .b-orange:before {
  background: rgba(255, 193, 7, 1);
  background: linear-gradient(45deg, rgba(255, 193, 7, 1) 0%, rgba(255, 87, 34, 1) 100%);
}

.b-blue, .b-blue:before {
  background: rgba(5, 118, 255, 1);
  background: linear-gradient(45deg, rgba(5, 118, 255, 1) 0%, rgba(36, 248, 255, 1) 100%);
}

.button {
  display: inline-block;
  position: relative;
  border-radius: 3px;
  text-decoration: none;
  padding: .5em;
  margin: .5em;
  font-size: 2em;
  font-weight: bold;
  transition: all .5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button:hover {
  text-shadow: 0 0 0 rgba(255, 255, 255, .75);
}

.button:hover:after {
  left: 100%;
  top: 100%;
  bottom: 100%;
  right: 100%;
}

.button:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: 5px;
  transition: all .5s;
}

.button:after {
  content: '';
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 2px;
  z-index: -1;
  border-radius: 5px;
  transition: all .5s;
}

.button2 {
  display: inline-block;
  font-size: 2em;
  margin: .5em;
  padding: .5em;
  border-radius: 5px;
  transition: all .5s;
  color: #ffffff;
  text-decoration: none;
}

.rot-360-noscoop:hover {
  transform: rotate(360deg);
}

.rot-135:hover {
}

.rot-90:hover {
}
